/*------------------------ FLEXBOX SEARCH BAR -----------------------------------------*/



.container {
  margin: 0 auto;
  width: 960px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


.item {
  margin-right: 0.5px;
  height: 20px;
  line-height: 40px;
  background-color: #fff;
  font-weight: bolder;
  text-align: center;
}



.item input  {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #888;
  border-style: solid;
  height:50%;
  padding-left:  10px;


}

.item select  {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #888;
  border-style: solid;

}

.item-1 {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px;
  border-color: #888;
  border-style: solid;
  flex-grow: 3;
  background-color: #fff;
}
.item-2 {
  flex-grow: 2;
  background-color: #fff;

}

.item-3 {
  flex-grow: 1;
  background-color: #fff;

}

.item-4 {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px;
  border-color: #888;
  border-style: solid;
  flex-grow: 2;
  background-color: #fff;

}

.item-5 {
  flex-grow: 2;
  background-color: #fff;
}

.item-6 {
  text-decoration: none;
  color: #fff;
  background-color: #FF5A5F;
  flex-grow: 2;

}
